.extension-dialog {
  background-color: #302f2f;
  padding: 1rem;
  position: fixed;
  top:2vh;
  right: 20vh;
  width: 20rem;
  height: auto;
  border: 0px;
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.blockButton{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extension-dialog h1 {
  font-size: 1.3rem;
  color: white;
}

.extension-dialog input[type="text"]{
  width: 95%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border:none;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-align: center;
  margin-top: 0.3rem;
}

.extension-dialog button {
  width: 95%;
  height: 3rem;
  margin-top: 0.2rem;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #0b3174;
  color: rgb(173, 173, 173);
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
  margin-top: 0.5rem;
}

.extension-dialog button:hover {
  width: 95%;
  height: 3rem;
  background-color: #1968F0;
  color: white;
}
